@import "../node_modules/bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */

.card{
    margin-top: 16px;
}

.card-img-top{
    height: 200px;
    width: auto;
}

.col-xs-8{
    padding-top: 24px;
}

.merepek{
    width: 100%;
    text-align: center;
}
