@import "../node_modules/bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */

.card{
    margin-top: 16px;
    min-width: 240px;
}

span.space {
    padding-left: 8px;
}