<app-modal-details *ngIf="show"></app-modal-details>

<div class="container">
  <div class="card-details">
    <div class="card">
      <div class="card-header">
        <button class="btn" (click)="goBack()">Back</button>
        <button class="btn" (click)="toggleModal()">Edit</button>
        <!-- <span class="card-title">{{selected.name}}</span> -->
      </div>
      <div class="card-body">
        <div class="center-block">
          <div class="row">
            <div class="col-xs-4">
                <img class="card-img-top " src="../../assets/765-default-avatar.png">
            </div>
            <div class="col-xs-8">
              <table>
                <tr><td>Name: </td><td> {{selected.name}}</td></tr>
                <tr><td>Email: </td><td> {{selected.email}}</td></tr>
                <tr><td>Phone: </td><td> {{selected.phone}}</td></tr>
                <tr><td>Company: </td><td> {{selected.company}}</td></tr>
                <tr><td>Address: </td><td> {{selected.address}}</td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>